.text-animate {
  display: inline-block; // <--- Changed from contents/ruby
  opacity: 0;
  animation: bounceIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block; // <--- Changed from contents/ruby
  animation-fill-mode: both;

  &:hover {
    animation: rubberBand 1s;
    color: #ffd700;
    cursor: pointer;
  }
}
  
@for $i from 1 through 85 {
    .text-animate._#{$i} {
      animation-delay: #{$i / 15}s;
  }
}


