
.text-animate {
<<<<<<< HEAD
  display: ruby-text-container;
=======
  display: contents;
>>>>>>> 5f95b25d3699142d874003c0881e010588999e38
  opacity: 0;
  animation: bounceIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
  
}

.text-animate-hover {
  min-width: 10px;
<<<<<<< HEAD
  display: ruby-text-container;
=======
  display: contents;
>>>>>>> 5f95b25d3699142d874003c0881e010588999e38
  animation-fill-mode: both;

  &:hover {
    animation: rubberBand 1s;
    color: #ffd700;
  }
}
  
@for $i from 1 through 85 {
    .text-animate._#{$i} {
      animation-delay: #{$i / 15}s;
  }
}
  